html{
  box-sizing:border-box;
}
*,*:before, *:after{
  box-sizing:inherit;
}

body{
  font-family:'Roboto', sans-serif;
}
div {
  border: 1 px solid Chocolate;
}



.top-navigation {
  background-color:#fff;
  position:fixed;
  width:100%;
  z-index:9999;

}
.top-navigation > .content{
  width:970px;
  height:70px;
  padding:0px 15px;

}


.top-navigation .links{
  float:right;
  font-family:'Roboto', sans-serif;
  color:#838994;
  font-size:16px;
  margin-top:25px;
  -webkit-font-smoothin:antialiased;
}

.top-navigation .links li{
  display:inline-block;
  margin-left:25px;
}

.top-navigation .links .active{
  color:#4c5058;
  font-weight:500;
}

.top-navigation .links li:hover{
  cursor:pointer;
  color:#333333;
}

/*img.logo{
  margin-left: ;
}*/

.introduction{
  background-image:url('karma-images/first-backgroundcopy.jpg');
  background-position:center-bottom;
  background-repeat:no-repeat;
  background-size:cover;
  height:45.938rem;
  overflow:auto;

}
 .middle.section{
  text-align: center;
  display: table-cell;
  vertical-align: middle;

}

.introduction h1,
.introduction h3{
  color:white;
  text-align:center;
  font-weight:300;
}

.introduction h3{
  margin-top:1.25rem;
  font-size:1.563rem;
}


button{
  text-shadow:none;
  border-style:none;
  border-radius:4px;
  padding:1rem 1.5rem;
  width:9.688rem;
  background-color:orange;
  font-size:1.125rem;
  color:white;
  margin:0 auto;
  display:block;

}

/*.cases{
  font-family:normal;
  color:black;
  text-align:center;

}*/

h2{
  text-align:center;
  margin:auto;
}

.images{
  display:inline-block;
  margin:0 40px 0 0;
  text-align:center;
  vertical-align:baseline;
   box-sizing:border-box;
   font:inherit;
   font-size:100%;
}

.footer{
  display:flex;
  justify-content:center;
}


.icons{
   border-radius: 240px / 210px;
   width:540px; height:420px;
   display:flex;
   justify-content:center;
   list-style:none

 }


/*Footer CSS code examples /*
1)example 1
/*border-radius: 1.25rem;
width: 2.5rem;
height: 2.5rem;
display: inline-block;
margin: 1.25rem 5px;
border: 1px solid #eaebec;
padding: 0.625rem 0;
text-align: center;
}*/



/*example 2 /*
   /*border-radius:10px 5%;
   border-bottom-left-radius:20px;
   border-bottom-right-radius:20px;
   border-bottom-style:solid;
   border-bottom-width:1px;
//icons section comment out

/*example 3 /*
/*.devices{
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align: baseline;

}*/
/*example 4 /*
/*{ 3-icon section borders?
  width:33.3333333%;
  display:inline-block;
  border:1px solid black;
  box-sizing:border-box;
  height:4em;
}*/
